* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  border-bottom: 1px solid #cccccc;
  background: #fff;
  z-index: 1000;
}

nav .right img {
  line-height: 45px;
}

/*-----------------main---------------*/

.main .center {
  max-width: 740px;
}

.main .center .friends_post {
  background: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.main .center .friends_post > img {
  height: 450px;
}

.main .center .friends_post .comment_warpper .comment_search {
  width: 95%;
  border-radius: 30px;
}
